{% extends 'base.html' %}

{% block title %}Admin{% endblock %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
            {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<script>
    // Remove a mensagem de pop-up após 3 segundos
    setTimeout(function() {
        var alerts = document.getElementsByClassName('alert');
        for (var i = 0; i < alerts.length; i++) {
            alerts[i].style.display = 'none';
        }
    }, 3000);
</script>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="mt-5 mb-3">Registrar disciplina</h2>
            <form action="{{ url_for('cadastra_dis') }}" method="POST">
                <div class="form-group">
                    <label for="aluno">Disciplina:</label>
                    <input type="text" class="form-control" id="materia" name="materia" placeholder="Digite a materia">
                </div>
                <button type="submit" class="btn btn-primary">Registrar</button>
            </form>
        </div>
    </div>

{% endblock %}
