body {
    background-image: url(/static/images/base2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  h1 {
    color: black;
    display: flex;
    justify-content: center;
  }
  
  p {
    color: gray;
    display: flex;
    justify-content: center;
  }

  li {
    color: black;
    display: flex;
    justify-content: center;
    font-size: large;
  }

  .alert-success {
    background-color: #c3e6cb;
    color: #155724;
  }
  
  .alert-error {
    background-color: #f8d7da;
    color: #721c24;
  }
  