body {
    background-image: url(/static/images/base2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  h1 {
    color: black;
    display: flex;
    justify-content: center;
  }
  
  p {
    color: gray;
    display: flex;
    justify-content: center;
  }

  li {
    color: black;
    display: flex;
    justify-content: center;
    font-size: large;
  }
  